div.tab.cultes.active {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: flex-start;
    align-content: flex-start;

    div {
        &.culte {          
            @include encart();
            @include header();
            @include cmd();

            div {
                &.subheader {
                    display: grid;
                    grid-template-columns: 1fr 200px 150px 30px;
                    grid-gap: 2px;
                    font-variant: small-caps;
                    font-size: 16px;
                    font-weight: bold;
                    justify-content: center;

                    span {
                        text-align: center;
                    }
                }

                &.data {
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: flex-start;
                    align-content: flex-start;
                }

                &.main {
                    display: grid;
                    grid-template-columns: max-content 1fr 200px 150px 30px;
                    align-items: center;
                    align-content: flex-start;
                    font-variant: small-caps;
                    font-size: 16px;
                    grid-gap: 2px;

                    i.fa-square-plus,
                    i.fa-square-minus {
                        font-size: 14px;

                        &:hover {
                            cursor: pointer;

                            &:hover {
                                color: $active;
                            }
                        }
                    }

                    div,
                    span {
                        &.cmd {
                            font-size: 14px;
                        }

                        &.name {
                            font-weight: bold;
                            font-size: 18px;
                        }

                        &.counter {
                            display: grid;
                            grid-template-columns: max-content 1fr max-content;
                            grid-gap: 2px;
                            align-items: center;

                            >span {
                                font-weight: bold;
                            }

                            div.score {
                                display: grid;
                                grid-template-columns: max-content max-content max-content;
                                grid-gap: 2px;
                                text-align: center;
                                justify-content: center;
                            }

                            i {
                                cursor: pointer;

                                &:hover {
                                    color: $active;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.magie {          
            @include encart();
            @include header();
            @include cmd();

            header {
                grid-template-columns: 1fr max-content;
                align-items: flex-start;

                div {     
                    &.main {
                        display: grid;
                        grid-template-columns: 1fr 80px 14px;
                        grid-gap: 2px;
                        font-variant: small-caps;
                        font-weight: bold;
                        font-size: 15px;
                        align-items: center;
            
                        i {
                            cursor: pointer;
            
                            &:hover {
                                color: $active;
                            }
                        }
            
                        div {
                            &.label {
                                display: grid;
                                grid-template-columns: 14px 1fr;
                                grid-gap: 2px;
                                align-items: center;
                            }
                        }
            
                        span {
                            &.score {
                                background: $white;
                                text-align: center;
                                font-weight: bold;
                                border: 1px solid $black;
                                border-radius: 2px;
                            }
                        }
                    }
            
                    &.sub {
                        display: grid;
                        grid-template-columns: 14px 1fr 14px;
                        grid-gap: 2px;
                        font-variant: small-caps;
                        font-weight: bold;
                        font-size: 15px;
                        margin-top: 2px;
                        align-items: center;
            
                        label {
                            grid-column: 2;
                            span {
                                &.label {
                                    font-size: 14px;
                                }

                                &.score {
                                    text-align: center;
                                    font-weight: bold;
                                    border: 1px solid $black;
                                    border-radius: 5px;
                                    background: $disabled;
                                }
                            }
            
                            input {
                                background: $white;
                                text-align: center;
                                font-weight: bold;
                                border: 1px solid $black;
                                border-radius: 5px;
                                width: 100%;
                                min-width:0px;
                                padding: 0px;
                                height: 20px;
                            }
                        }
                    }
                }
            }

            div {
                &.data {
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: flex-start;
                    align-content: flex-start;
                }

                &.main {
                    display: grid;
                    grid-template-columns: max-content 1fr 200px 150px 30px;
                    align-items: center;
                    align-content: flex-start;
                    font-variant: small-caps;
                    font-size: 16px;
                    grid-gap: 2px;

                    i.fa-square-plus,
                    i.fa-square-minus {
                        font-size: 14px;

                        &:hover {
                            cursor: pointer;

                            &:hover {
                                color: $active;
                            }
                        }
                    }

                    div,
                    span {
                        &.cmd {
                            font-size: 14px;
                        }

                        &.name {
                            font-weight: bold;
                            font-size: 18px;
                        }

                        &.points {                        
                            font-weight: bold;
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                    @include clickable();
                    @include select();
                }
            }
        }
    }
}